.footer{
    background-color:#0f0f0f;
 color: aliceblue;

}

.footer>div{
    margin-top: 50px;
}

.footer>div>p{
    margin-top: 25px;
    margin-left:25px ;
}

.follow_us{
    background-color: black;
     display: flex;
     justify-content: space-around;
     align-items: center;
     height:  100px;    
}

.follow_us>img{
    height: 30px;
    cursor: pointer;

}

#insta{
    height: 50px;
    cursor: pointer;
}

